@font-face {
    font-family: IRANSansWeb;
    src: url(fonts/IRANSansWeb.woff);
    font-weight: 400;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(fonts/IRANSansWeb_Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(fonts/IRANSansWeb_Medium.woff);
    font-weight: 500;
}

body {
    font-family: IRANSansWeb;
    background-color: #eee;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.container {
    max-width: 1320;
    margin: 0 auto;
}

.aside {
    float: right;
    padding: 30px;
    width: 25%;
}

.title {
    padding-bottom: 10px;
    border-bottom: solid 3px #5aa738;
    width: 116px;
    font-size: 10px;
    color: #2d3031;
    margin-bottom: 20px;
}

.paragraph p {
    padding: 0 0 32px;
    font-size: 13px;
    border-bottom: solid 1px #e4e4e4;
}

form {
    padding: 35px 0px;
    position: relative;
}

.fa-search {
    position: absolute;
    right: 15px;
    bottom: 55px;
    color: #c2c2c3;
}

.fa-chevron-circle-left {
    position: absolute;
    left: 15px;
    bottom: 55px;
    color: #7fbb00;
}

form input {
    width: 100%;
    padding: 15px 45px;
    font-size: 12px;
    font-family: IRANSansWeb;
    color: #dadde1;
    background-color: white;
    border: solid 1px #e4e4e4;
}

input:focus {
    border: solid 1px black;
}

input:hover {
    box-shadow: 4px 4px rgb(223, 217, 217);
}

.link a {
    text-decoration: none;
    color: #454545;
    display: block;
    font-size: 14px;
    border-top: solid 1px #e4e4e4;
    padding: 20px 0;
}

.link i {
    color: #454545;
}

.link a:hover {
    color: #928d8d;
}

.link a:hover i {
    color: #928d8d;
}

.main {
    margin-top: 30px;
    width: 50%;
    background-color: white;
    float: right;
}

.img img {
    width: 100%;
}

.text {
    padding: 30px;
    margin-top: -50px;
}

.article a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-color: chartreuse;
}

.article a:hover {
    background-color: rgb(34, 202, 34);
}

.text h1 {
    font-size: 21px;
    padding: 26px 0 17px;
    color: #2d3031;
}

.text p {
    font-size: 15px;
    color: #707679;
    padding-bottom: 50px;
}

.clear-fix::before,
.clear-fix::after {
    content: "";
    display: table;
}

.clear-fix::after {
    clear: both;
}

.button a {
    text-decoration: none;
    padding: 7px;
    border-radius: 30px;
    color: #bba9c0;
    font-size: 13px;
    border: solid #e2e2e2 2px;
}

.button a:hover {
    box-shadow: 3px 3px rgb(201, 195, 195);
}

#writer {
    float: left;
    margin-right: 10px;
}

.button span {
    text-decoration: none;
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(238, 246, 247);
    font-size: 13px;
    float: left;
}